 
h1{
   font-size: 60px;
    text-align: center;
}

body{

   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; 
}
 

.p{
   background-color:yellow; 
    color: blueviolet;
    margin: 20px;
    padding: 10px;
    text-align: justify; 



}
 
h3{
    text-align: center;

    background-color: cyan;
    color: rgb(240, 16, 240);
}


section{
 display: flex;
}

.d{
    padding: 20px 10px;
    margin: 10px 10px;
 
    width: 60%;
}
.d img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px ;
    background-image: linear-gradient(orange,tomato); 
    font-weight: 700; 
    margin-left: 10px;
}











